/* Content section style */
.content {
    margin-top: 55px;
}

/* Sidemenu section */
aside {
    background: #e2e6ea;
}
/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
    padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

#sidebar .list-group-item {
    margin-bottom: 5px;
    font-size: 18px;
}
#sidebar .list-group-item i {
    margin-right:5px;

}
#sidebar .list-group-item span {
    border-bottom: 1px solid grey;
}
