/* ===========================
   Top Section Style
   ===========================*/
.ml-5, .mx-5 {
    margin-left: 1rem !important;
}
/* Logo Section */
a.logo {
    font-weight: bold;
    color: #fed189;
    text-transform: uppercase;
}
a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}
a.logo span { color: #688a7e; }
/* dropdown item*/
.dropdown-menu {
    border: 0;
    padding-bottom: 0;
    max-width: 300px !important;
    min-width: 200px !important;
    margin-top: 9px;
    border-top:2px solid #688a7e !important ;
    border-radius: 0;
}
.dropdown-item {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
    padding: 10px 10px !important;
    width: 100%;
    display: inline-block;
    color: #797979;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}
.dropdown-item:hover {
    color: #688a7e;
    border-bottom: 1px solid #688a7e !important ;
}
.dropdown-item:focus { background-color: #F7F8F9; }
.dropdown-menu i {
    display: inline-block;
    padding-right: 10px;
}
.dropdown-menu i { font-size: 17px; }
/* Nav Link */
.nav-link, .dropdown-toggle {
    display: inline-block;
    color: white;
}
.nav-link:hover, .dropdown-toggle:hover { color: #688a7e; }
.nav-link {
    margin-right: 2px;
    text-align: center;
}
.nav-link i { margin-right: 1px; }
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    border: 1px solid white;
    background-size: auto;
    color: #fff;
}
.logout, .logout:hover {
    background:#688a7e;
    color: white;
}
/* ====================
    Inside Menu
   ====================*/
.inside-menu{
}
.inside-menu .card-body {
    padding: 0;

}
.inside-menu .list-group {
    padding: 0;
}
.inside-menu  .list-group-item {
    padding: 10px 10px !important;
    width: 100%;
    font-size: 12px;
    color: #2067b0;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #EBEBEB !important;

}
.inside-menu  .list-group-item:hover {
    text-decoration: none;
    color: #fff;
    background: #2067b0;
    border: 1px solid #2067b0;
}
.inside-menu i {
    margin-right: 5px;
}
/* ===========================
   Main Content Section Style
   ===========================*/
.content { margin-top: 85px; }
