html , body{
    font-family: Cambria,Georgia,serif;
    color: #212529;
    height:100%;
    background: url("../img/atmosphere.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ========================
    Colors Section Styling
   ========================*/
.bg-blue { background: #2067b0; }


/* ====================
    Card Section Style
   ====================*/
/* Cards */
.card {
    border-radius: 0;
    background: transparent;
    padding: 0;
    border: 0;
}
.ca { min-height: 500px;}

.card-header {
    background: transparent;
    color: #fff;
    font: 26px/26px "OpenSans-Light",Helvetica,Arial,sans-serif;
    padding: 0 0 10px 0;
}
.card-body {
    background: #fff;
}

/* ====================
    Buttons Section Style
   ====================*/
.btn { border-radius: 0; }


/* ====================
   Forms Section Style
   ====================*/
.col-form-label {
    font-weight:bolder ;
}
.form-control:focus {
    color:#495057;
    background-color: #fff;
    border-color: #a1cbef;
    outline: 0;
    box-shadow:none;
}
.label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.3rem;
}

/* Hide the browser's default checkbox */
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

/*required fields*/
.star { color: red; }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.select2-container--default .select2-selection--single{
    padding:0px;
    height: 35px;
    font-size: 1.2em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ced4da;
    border-radius: 0px 5px 5px 0px;
}



/* =====================
   Tables Section Style
   ====================*/
thead th { color:#fff;}
.status {
    padding: 3px 7px 3px 7px;
    border-radius: 2px;
    font-weight: bold;
}
.status .bg-warning {
    color: #000;
}



/* ===========================
   Top Section Style
   ===========================*/
.ml-5, .mx-5 {
    margin-left: 1rem !important;
}
/* Logo Section */
a.logo {
    font-weight: bold;
    color: #fed189;
    text-transform: uppercase;
}
a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}
a.logo span { color: #688a7e; }

/* dropdown item*/
.dropdown-menu {
    border: 0;
    padding-bottom: 0;
    max-width: 300px !important;
    min-width: 200px !important;
    margin-top: 9px;
    border-top:2px solid #688a7e !important ;
    border-radius: 0;
}
.dropdown-item {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
    padding: 10px 10px !important;
    width: 100%;
    display: inline-block;
    color: #797979;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}
.dropdown-item:hover {
    color: #688a7e;
    border-bottom: 1px solid #688a7e !important ;
}
.dropdown-item:focus { background-color: #F7F8F9; }
.dropdown-menu i {
    display: inline-block;
    padding-right: 10px;
}
.dropdown-menu i { font-size: 17px; }

/* Nav Link */
.nav-link, .dropdown-toggle {
    display: inline-block;
    color: white;
}
.nav-link:hover, .dropdown-toggle:hover { color: #688a7e; }
.nav-link {
    margin-right: 2px;
    text-align: center;
}
.nav-link i { margin-right: 1px; }
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    border: 1px solid white;
    background-size: auto;
    color: #fff;
}
.logout, .logout:hover {
    background:#688a7e;
    color: white;
}

/* ====================
    Inside Menu
   ====================*/
.inside-menu{
}
.inside-menu .card-body {
    padding: 0;

}
.inside-menu .list-group {
    padding: 0;
}
.inside-menu  .list-group-item {
    padding: 10px 10px !important;
    width: 100%;
    font-size: 12px;
    color: #2067b0;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #EBEBEB !important;

}
.inside-menu  .list-group-item:hover {
    text-decoration: none;
    color: #fff;
    background: #2067b0;
    border: 1px solid #2067b0;
}
.inside-menu i {
    margin-right: 5px;
}

    /* ===========================
       Main Content Section Style
       ===========================*/
.content { margin-top: 85px; }


/*
 * ===========================
 * Login Page Style
 * ===========================
 */
.login-form {
    padding-top: 25px;
    margin: 150px 0;
}
.login-form img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.login-form span {
    margin-top: 10px;
    display: block;
    font-size: 28px;
    font-weight: bold;
}

/*
 * ===========================
 * Employee Directory
 * ===========================
 */

.emp-details {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.emp-details i {
    font-size: 12px;
}
