html , body{
    font-family: Cambria,Georgia,serif;
    color: #212529;
    height:100%;
    background: url("../img/atmosphere.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ========================
    Colors Section Styling
   ========================*/
.bg-blue { background: #2067b0; }
.bg-orange { background: #f39c12; }
.bg-black { background: black; }

/* ====================
    Card Section Style
   ====================*/
/* Cards */
.card {
    background: transparent;
}
.ca { min-height: 500px;}

.card-header {
    color: #000;
    font: 26px/26px "OpenSans-Light",Helvetica,Arial,sans-serif;
    padding: 10px;
}
.card-body {
    background: #fff;
}

/* ====================
    Buttons Section Style
   ====================*/
.btn {
    border-radius: 0;
}
.btn-primary {
    color:#fff;
    background-color: #4B8DF8;
    border-color:#4B8DF8;
}

/* ====================
   Forms Section Style
   ====================*/
.col-form-label {
    font-weight:bolder ;
}
.form-control:focus {
    color:#495057;
    background-color: #fff;
    border-color: #a1cbef;
    outline: 0;
    box-shadow:none;
}
.label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.3rem;
}
/*required fields*/
.star { color: red; }

/* Hide the browser's default checkbox */
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Custom Dropdown menu*/
.select2-container--default .select2-selection--single{
    padding:0px;
    height: 35px;
    font-size: 1.2em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ced4da;
    border-radius: 0px 5px 5px 0px;
}


/* =====================
   Tables Section Style
   ====================*/
.status {
    padding: 3px 7px 3px 7px;
    border-radius: 2px;
    font-weight: bold;
}
.status .bg-warning {
    color: #000;
}


/*
 * ===========================
 * Login Page Style
 * ===========================
 */
.login-form {
    padding-top: 25px;
    margin: 150px 0;
}
.login-form img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.login-form span {
    margin-top: 10px;
    display: block;
    font-size: 28px;
    font-weight: bold;
}


/*
 * ===========================
 * Employee Directory
 * ===========================
 */
.emp-details {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.emp-details i {
    font-size: 12px;
}



/*
 * Main Content Style
 */
#wrapper #content-wrapper {
    background:transparent;
    width: 100%;
    overflow-x: hidden;
}


/*
 * Sidebar Menu
 */
.sidebar .nav-item .nav-link span {
    font-size: 1.0rem;
    display: inline;
}
.collapse-inner {
    background: #2067b0;;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item {
    color:#fff;
    padding-left: 0;
    font-size: 16px;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover {
    background: transparent;
    color:  #688a7e;
}
.sidebar .nav-link {
    color: #fff;
}


