html , body{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #212529;
    height:100%;
    background: url("../img/atmosphere.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Colors*/
.bg-blue { background: #0866C6; }
.bg-red {border-color:red; background:red; }
.bg-green {border-color:green; background:green; }
.bg-orange {border-color:orange; background:orange;}
.bg-purple {border-color:purple; background:purple; }
.bg-black {border-color:black; background: black; }
.bg-pink {border-color:deeppink; background:deeppink; }
.bg-maroon {border-color:maroon; background:maroon; }
.bg-gray {border-color:gray; background:gray; }


/* ====================
    Card Section Style
   ====================*/
/* Cards */
.card {
    border: 1px solid #0866C6;
    border-radius: 0;
}
.ca { min-height: 500px;}
.card-header:first-child {
    border-radius:0;
}
.card-header {
    background: #0866C6;
    color: white;
    border-radius: 0;
    vertical-align: middle;
}
.card-body {
    background: #fff;
}

/* ====================
    Buttons Section Style
   ====================*/
.btn {border-radius: 0;}
.btn-primary {background:#0866C6;border-color:#0866C6;}
.btn-outline-primary {color: #0866C6;border-color:#0866C6;}
.btn-outline-primary:hover { background:#0866C6;}
.btn-danger {border-color:#dc3545; background:#dc3545; }
.btn-outline-danger {color: #dc3545; border-color:#dc3545; }
.btn-outline-danger:hover { background:#dc3545; }
.btn-success {border-color:#23BF08; background:#23BF08; }
.btn-outline-success {color: #23BF08; border-color:#23BF08; }
.btn-outline-success:hover { background:#23BF08; }
.btn-warning {border-color:#F49917; background:#F49917;}
.btn-outline-warning  {color: #F49917; border-color:#F49917; }
.btn-outline-warning :hover { background:#F49917; }
.btn-purple {border-color:#5e37a6; background:#5e37a6; }
.btn-outline-warning  {color: #5e37a6; border-color:#5e37a6; }
.btn-outline-warning :hover { background:#5e37a6; }

/* ====================
    Modal Section Style
   ====================*/
.modal-content {
    border: 1px solid #0866C6;
    border-radius: 0;
}
.modal-header {
    border-radius: 0;
    background: #0866C6;
    color: white;
}
.modal-footer {
    border:none;
    border-radius:0;
}
.close {
    color:white;
}

/* ====================
    Styling Forms fields
   ====================*/
/*Custom Dropdown menu*/
.select2-container {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
/*Custom Dropdown menu*/
.select2-container--default .select2-selection--single{
    padding:0px;
    height: 35px;
    font-size: 1.2em;
    width: 100%;
    display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ced4da;
    border-radius: 0px 5px 5px 0px;
}


/*
 * Table
 */
.table thead > tr > th,
.table thead > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    border-top: 0;
    border-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #dee2e6;
    color: #343a40;
    letter-spacing: 0.5px;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
    position: relative;
}


/*
 * Styling Main Section Section
 */
header {
    background-color: #f8f9fa;
    height: 100px;
}
main {
    margin-top: 100px;
    min-height: 100%;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#content{
    width: 100%;
}

/*
 * Styling Sidebar
 */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background:#212529;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar nav {
    display: block;
    padding: 0;
}
#sidebar .nav > .nav-item {
    display: block;
    width: 100%;
    border-top: 1px solid #282d31;
}
#sidebar .nav > .nav-item > .nav-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0 15px;
    color: #868e96;
    position: relative;
    font-size: 16px;
}
#sidebar .nav > .nav-item > .active,
#sidebar .nav > .nav-item > .nav-link:hover {
    background: #0866C6;
    color:white;
}
#sidebar .nav > .nav-item > .nav-link i{
    font-size:16px;
    width: 20px;
    margin-right: 8px;
    text-align: center;
}

/*Styling dropdowns*/
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*Media query*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
/*Sidebar toggle button*/
#content .navbar {
    padding:0;
}


/*
 *  Main Section
 */

.mainContent {padding: 10px;}




/*
 * Sub Menu Navigation
 */
.sub-menu{
    margin-bottom: 20px;
}
.sub-menu > div {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}
.sub-menu-link {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    padding-top: 20px;
    /*border: 1px solid #0866C6;*/
    /*color: #0866C6;*/
}
.sub-menu-link > div {
    text-align: center;
}
.sub-menu-link i {
    line-height: 0;
    font-size: 70px;
}
.sub-menu-link span {
    display: block;
    margin-top: 5px;
    font-size:22px;
}
.sub-menu-link:hover {
    background: #0866C6;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sub-menu-link span {
        display: block;
        margin-top: 5px;
        font-size:22px;
    }
    .sub-menu-link i {
        line-height: 0;
        font-size: 60px;
    }
}



